* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: hsl(200, 100%, 62%);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 120rem;
}

.links ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.list {
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  list-style: none;
}

.contact {
  font-family: "Fraunces", sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  border-radius: 1.9rem;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
}

.contact:hover {
  background-color: hsl(200, 100%, 70%);
  color: hsl(0, 0%, 100%);
}

.ham-icon {
  display: none;
}

.container {
  background-color: hsl(200, 100%, 62%);
}

.home {
  text-align: center;
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-paragraph {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  transform: translateY(-60rem);
}

.arrow {
  transform: translateY(-40rem);
}

.img-header img {
  width: 100%;
}

/* grid layout */
.grid {
  transform: translateY(-18rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-content {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
  transition: all 0.4s;
}

.head {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  padding-bottom: 2rem;
}

.paragraph {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: hsl(210, 4%, 67%);
  padding-bottom: 4rem;
}

.learn-more {
  transform: translateX(-22rem);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.learn-more::after {
  content: "";
  width: 10rem;
  height: 0.6rem;
  display: block;
  position: absolute;
  transform: translateY(-0.5rem);
  z-index: -2;
  border-radius: 5rem;
  transition: all 0.4s;
}

.grid-content .transform-color::after {
  background-color: hsl(51, 100%, 49%);
}

.grid-content .standout-color::after {
  background-color: hsl(7, 99%, 70%);
}

.grid-img img {
  width: 100%;
}

.grid-content-img {
  display: flex;
  flex-direction: column;
}

.grid-content-img p {
  transform: translateY(-20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-left: 14rem;
  padding-right: 14rem;
}

.heading {
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.color-cyan {
  color: hsl(167, 40%, 24%);
}

.color-blue {
  color: hsl(198, 62%, 26%);
}

.paragraphs {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Barlow";
  font-weight: 600;
}

.testimonials {
  width: 120rem;
  margin: 0 auto;
  transform: translateY(-20rem);
}

.testimonials-heading {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 4rem;
}

.testimonials-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.content-img {
  border-radius: 50%;
  overflow: hidden;
}

.content-img img {
  width: 100%;
}

.content-paragraph {
  padding-top: 6rem;
  font-size: 2rem;
  line-height: 2;
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
}

.author-name {
  padding-top: 10rem;
  font-family: "Fraunces", sans-serif;
  font-size: 2.5rem;
}

.author-position {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  color: hsl(213, 9%, 39%);
}

.more-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.imgs img {
  width: 100%;
}

footer {
  background-color: hsl(168, 34%, 41%);
  transform: translateY(-0.14rem);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.asp {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.asp ul {
  display: flex;
  gap: 2rem;
}

.foot-list {
  list-style: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: hsl(167, 40%, 24%);
  cursor: pointer;
  transition: all 0.4s;
}

.foot-list:hover {
  color: hsl(0, 0%, 100%);
}

.socials {
  display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.attribution {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
